@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #a98d4a !important;
}
.bg-info {
  background-color: #d4d4d4 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #9b883a !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #d2b885;
  border-color: #d2b885;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #bd974d;
  border-color: #bd974d;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #bd974d !important;
  border-color: #bd974d !important;
}
.btn-info {
  background-color: #d4d4d4;
  border-color: #d4d4d4;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #aeaeae;
  border-color: #aeaeae;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #aeaeae !important;
  border-color: #aeaeae !important;
}
.btn-success {
  background-color: #a98d4a;
  border-color: #a98d4a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #746133;
  border-color: #746133;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #746133 !important;
  border-color: #746133 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #9b883a;
  border-color: #9b883a;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #635725;
  border-color: #635725;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #635725 !important;
  border-color: #635725 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #b08b41;
  color: #b08b41;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #d2b885;
  border-color: #d2b885;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #d2b885 !important;
  border-color: #d2b885 !important;
}
.btn-info-outline {
  background: none;
  border-color: #a1a1a1;
  color: #a1a1a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success-outline {
  background: none;
  border-color: #62522b;
  color: #62522b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #a98d4a;
  border-color: #a98d4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #a98d4a !important;
  border-color: #a98d4a !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #51471e;
  color: #51471e;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #9b883a;
  border-color: #9b883a;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #9b883a !important;
  border-color: #9b883a !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #a98d4a !important;
}
.text-info {
  color: #d4d4d4 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #9b883a !important;
}
.alert-success {
  background-color: #a98d4a;
}
.alert-info {
  background-color: #d4d4d4;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #9b883a;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d5c49e;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d1c284;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#ext_menu-0 .link {
  font-size: 0.75rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-0 .btn {
  font-size: 10px;
}
#slider-2 H2 {
  font-size: 30px;
  color: #a98d4a;
  text-align: center;
}
#slider-2 P {
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
#slider-2 .btn {
  font-size: 13px;
}
#msg-box2-6 .mbr-section-title {
  color: #fff;
  text-align: right;
  font-size: 30px;
}
#msg-box2-6 .mbr-section-subtitle {
  color: #a98d4a;
  text-align: right;
}
#features3-3 P {
  font-size: 13px;
}
#header1-1 .mbr-section-title {
  font-size: 30px;
  color: #a98c49;
}
#header1-1 .mbr-section-lead {
  font-size: 14px;
}
#msg-box3-5 .mbr-section-title,
#msg-box3-5 p {
  color: #000;
}
#msg-box3-5 .mbr-section-title {
  font-size: 30px;
}
#msg-box3-5 .lead UL {
  text-align: right;
}
#msg-box3-44 .mbr-section-title,
#msg-box3-44 p {
  color: #000;
}
#msg-box3-44 .mbr-section-title {
  font-size: 36px;
}
#contacts1-2t STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-2t SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-2t P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-8 P {
  color: #c0a375;
}
#social-buttons2-2w .mbr-section-title,
#social-buttons2-2w .btn-social {
  color: #232323;
}
#social-buttons2-2w .mbr-section-title {
  font-size: 14px;
  color: #a98c49;
}
#ext_menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9 .navbar-caption {
  color: #ffffff;
}
#ext_menu-9 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-9 .close-icon::before,
#ext_menu-9 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-9 .link,
#ext_menu-9 .dropdown-item {
  color: #ffffff;
}
#ext_menu-9 .link {
  font-size: 0.75rem;
}
#ext_menu-9 .dropdown-item,
#ext_menu-9 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-9 .link:hover,
#ext_menu-9 .dropdown-item:hover,
#ext_menu-9 .link:focus,
#ext_menu-9 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-9 .link[aria-expanded="true"],
#ext_menu-9 .dropdown-menu {
  background: #000000;
}
#ext_menu-9 .nav-dropdown-sm .link:focus,
#ext_menu-9 .nav-dropdown-sm .link:hover,
#ext_menu-9 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-9 .navbar,
#ext_menu-9 .nav-dropdown-sm,
#ext_menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9 .bg-color.transparent.opened .link:hover,
#ext_menu-9 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-9 .link[aria-expanded="true"],
#ext_menu-9 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-9 .btn {
  font-size: 10px;
}
#msg-box8-y .mbr-section-title,
#msg-box8-y p {
  color: #fff;
}
#msg-box8-y .mbr-section-title {
  font-size: 32px;
}
#msg-box5-x H3 {
  color: #a98d4a;
  font-size: 24px;
}
#content5-z .mbr-section-title,
#content5-z p {
  color: #fff;
}
#content5-z .mbr-section-title {
  font-size: 30px;
  text-align: center;
}
#content5-z P {
  text-align: center;
}
#header2-11 .mbr-section-title {
  font-size: 30px;
}
#features7-12 .card-subtitle {
  color: #bcbcbc;
}
#features7-12 .iconbox {
  background-color: #c0a375;
  border-color: #c0a375;
}
#features7-12 H4 {
  font-size: 16px;
}
#msg-box8-13 .mbr-section-title,
#msg-box8-13 p {
  color: #fff;
}
#msg-box8-13 .mbr-section-title {
  font-size: 30px;
}
#features4-16 .card-subtitle {
  color: #bcbcbc;
}
#features4-16 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-16 H4 {
  font-size: 16px;
  color: #a98d4a;
}
#msg-box8-1k .mbr-section-title,
#msg-box8-1k p {
  color: #fff;
}
#msg-box8-1k .mbr-section-title {
  font-size: 30px;
}
#footer1-b P {
  color: #c0a375;
}
#contacts1-2f STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-2f SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-2f P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#ext_menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-f .navbar-caption {
  color: #ffffff;
}
#ext_menu-f .navbar-toggler {
  color: #ffffff;
}
#ext_menu-f .close-icon::before,
#ext_menu-f .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-f .link,
#ext_menu-f .dropdown-item {
  color: #ffffff;
}
#ext_menu-f .link {
  font-size: 0.75rem;
}
#ext_menu-f .dropdown-item,
#ext_menu-f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-f .link:hover,
#ext_menu-f .dropdown-item:hover,
#ext_menu-f .link:focus,
#ext_menu-f .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-menu {
  background: #000000;
}
#ext_menu-f .nav-dropdown-sm .link:focus,
#ext_menu-f .nav-dropdown-sm .link:hover,
#ext_menu-f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-f .navbar,
#ext_menu-f .nav-dropdown-sm,
#ext_menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-f .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-f .bg-color.transparent.opened .link:hover,
#ext_menu-f .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-f .btn {
  font-size: 10px;
}
#msg-box8-17 .mbr-section-title,
#msg-box8-17 p {
  color: #fff;
}
#msg-box8-17 .mbr-section-title {
  font-size: 32px;
}
#msg-box5-2j H3 {
  font-size: 30px;
}
#msg-box3-2l .mbr-section-title,
#msg-box3-2l p {
  color: #000;
}
#msg-box3-2l .mbr-section-title {
  font-size: 30px;
}
#msg-box3-2l .lead OL {
  text-align: right;
}
#features1-2k .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-43 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #c0a375;
}
#features1-43 .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #000000;
}
#msg-box3-39 .mbr-section-title,
#msg-box3-39 p {
  color: #000;
}
#msg-box3-39 .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-39 .lead P {
  color: #d2ba71;
  text-align: right;
}
#msg-box3-39 .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box3-39 .lead DIV {
  text-align: left;
}
#msg-box3-3d .mbr-section-title,
#msg-box3-3d p {
  color: #000;
}
#msg-box3-3d .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-3d .lead P {
  color: #d2ba71;
  text-align: right;
}
#msg-box3-3d .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box3-3d .lead DIV {
  text-align: left;
}
#features7-3c .card-subtitle {
  color: #bcbcbc;
}
#features7-3c .iconbox {
  background-color: #c0a375;
  border-color: #c0a375;
}
#features7-3c P {
  font-size: 14px;
}
#contacts1-g STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-g SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-g P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-h P {
  color: #c0a375;
}
#ext_menu-i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-i .navbar-caption {
  color: #ffffff;
}
#ext_menu-i .navbar-toggler {
  color: #ffffff;
}
#ext_menu-i .close-icon::before,
#ext_menu-i .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-i .link,
#ext_menu-i .dropdown-item {
  color: #ffffff;
}
#ext_menu-i .link {
  font-size: 0.75rem;
}
#ext_menu-i .dropdown-item,
#ext_menu-i .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-i .link:hover,
#ext_menu-i .dropdown-item:hover,
#ext_menu-i .link:focus,
#ext_menu-i .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-i .link[aria-expanded="true"],
#ext_menu-i .dropdown-menu {
  background: #000000;
}
#ext_menu-i .nav-dropdown-sm .link:focus,
#ext_menu-i .nav-dropdown-sm .link:hover,
#ext_menu-i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-i .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-i .navbar,
#ext_menu-i .nav-dropdown-sm,
#ext_menu-i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-i .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-i .bg-color.transparent.opened .link:hover,
#ext_menu-i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-i .link[aria-expanded="true"],
#ext_menu-i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-i .btn {
  font-size: 10px;
}
#msg-box8-18 .mbr-section-title,
#msg-box8-18 p {
  color: #fff;
}
#msg-box8-18 .mbr-section-title {
  font-size: 32px;
}
#header2-1i .mbr-section-title {
  font-size: 30px;
}
#msg-box3-1h .mbr-section-title,
#msg-box3-1h p {
  color: #000;
}
#msg-box3-1h .mbr-section-title {
  font-size: 30px;
  color: #a98d4a;
}
#msg-box3-1h .lead P {
  font-size: 14px;
}
#msg-box3-3e .mbr-section-title,
#msg-box3-3e p {
  color: #000;
}
#msg-box3-3e .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-3e .lead P {
  color: #d2ba71;
  text-align: right;
}
#msg-box3-3e .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box3-3e .lead DIV {
  text-align: left;
}
#contacts1-d STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-d SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-d P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-k P {
  color: #c0a375;
}
#ext_menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-l .navbar-caption {
  color: #ffffff;
}
#ext_menu-l .navbar-toggler {
  color: #ffffff;
}
#ext_menu-l .close-icon::before,
#ext_menu-l .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-l .link,
#ext_menu-l .dropdown-item {
  color: #ffffff;
}
#ext_menu-l .link {
  font-size: 0.75rem;
}
#ext_menu-l .dropdown-item,
#ext_menu-l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-l .link:hover,
#ext_menu-l .dropdown-item:hover,
#ext_menu-l .link:focus,
#ext_menu-l .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-l .link[aria-expanded="true"],
#ext_menu-l .dropdown-menu {
  background: #000000;
}
#ext_menu-l .nav-dropdown-sm .link:focus,
#ext_menu-l .nav-dropdown-sm .link:hover,
#ext_menu-l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-l .navbar,
#ext_menu-l .nav-dropdown-sm,
#ext_menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-l .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-l .bg-color.transparent.opened .link:hover,
#ext_menu-l .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-l .link[aria-expanded="true"],
#ext_menu-l .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-l .btn {
  font-size: 10px;
}
#msg-box8-19 .mbr-section-title,
#msg-box8-19 p {
  color: #fff;
}
#msg-box8-19 .mbr-section-title {
  font-size: 32px;
}
#form1-2b .form-control-label {
  color: #232323;
}
#form1-2b .mbr-section-title {
  font-size: 24px;
  color: #937735;
}
#contacts1-m STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-m SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-m P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-n P {
  color: #c0a375;
}
#ext_menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-o .navbar-caption {
  color: #ffffff;
}
#ext_menu-o .navbar-toggler {
  color: #ffffff;
}
#ext_menu-o .close-icon::before,
#ext_menu-o .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-o .link,
#ext_menu-o .dropdown-item {
  color: #ffffff;
}
#ext_menu-o .link {
  font-size: 0.75rem;
}
#ext_menu-o .dropdown-item,
#ext_menu-o .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-o .link:hover,
#ext_menu-o .dropdown-item:hover,
#ext_menu-o .link:focus,
#ext_menu-o .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-menu {
  background: #000000;
}
#ext_menu-o .nav-dropdown-sm .link:focus,
#ext_menu-o .nav-dropdown-sm .link:hover,
#ext_menu-o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-o .navbar,
#ext_menu-o .nav-dropdown-sm,
#ext_menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-o .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-o .bg-color.transparent.opened .link:hover,
#ext_menu-o .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-o .btn {
  font-size: 10px;
}
#msg-box8-1a .mbr-section-title,
#msg-box8-1a p {
  color: #fff;
}
#msg-box8-1a .mbr-section-title {
  font-size: 32px;
}
#testimonials3-1g .mbr-section-title {
  color: #efefef;
  font-size: 30px;
}
#testimonials3-1g .mbr-author-name {
  color: #ccc;
}
#testimonials3-1g .card-block P {
  font-size: 12px;
}
#form1-1d .form-control-label {
  color: #232323;
}
#form1-1d .mbr-section-title {
  font-size: 32px;
  color: #a98c49;
}
#form2-1e .mbr-section-title {
  color: #fff;
}
#form2-1e .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-p STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-p SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-p P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#social-buttons2-1f .mbr-section-title,
#social-buttons2-1f .btn-social {
  color: #232323;
}
#social-buttons2-1f .mbr-section-title {
  font-size: 14px;
  color: #a98c49;
}
#footer1-q P {
  color: #c0a375;
}
#ext_menu-u .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-u .navbar-caption {
  color: #ffffff;
}
#ext_menu-u .navbar-toggler {
  color: #ffffff;
}
#ext_menu-u .close-icon::before,
#ext_menu-u .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-u .link,
#ext_menu-u .dropdown-item {
  color: #ffffff;
}
#ext_menu-u .link {
  font-size: 0.75rem;
}
#ext_menu-u .dropdown-item,
#ext_menu-u .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-u .link:hover,
#ext_menu-u .dropdown-item:hover,
#ext_menu-u .link:focus,
#ext_menu-u .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-u .link[aria-expanded="true"],
#ext_menu-u .dropdown-menu {
  background: #000000;
}
#ext_menu-u .nav-dropdown-sm .link:focus,
#ext_menu-u .nav-dropdown-sm .link:hover,
#ext_menu-u .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-u .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-u .navbar,
#ext_menu-u .nav-dropdown-sm,
#ext_menu-u .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-u .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-u .bg-color.transparent.opened .link:hover,
#ext_menu-u .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-u .link[aria-expanded="true"],
#ext_menu-u .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-u .btn {
  font-size: 10px;
}
#msg-box8-1c .mbr-section-title,
#msg-box8-1c p {
  color: #fff;
}
#msg-box8-1c .mbr-section-title {
  font-size: 32px;
}
#msg-box3-2x .mbr-section-title,
#msg-box3-2x p {
  color: #000;
}
#msg-box3-2x .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-2x .lead P {
  color: #d2ba71;
  text-align: right;
}
#msg-box3-2x .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box3-2x .lead DIV {
  text-align: left;
}
#header3-34 .mbr-section-title,
#header3-34 .mbr-section-subtitle {
  text-align: center;
}
#header3-34 H3 {
  font-size: 22px;
}
#header3-34 SMALL {
  color: #ffffff;
}
#features1-2y .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-2y .mbr-cards-col:nth-child(even) .card-text {
  color: #8d752c;
  text-align: right;
}
#features1-2y .mbr-cards-col:nth-child(odd) .card-text {
  color: #8d752c;
  text-align: right;
}
#msg-box3-2z .mbr-section-title,
#msg-box3-2z p {
  color: #000;
}
#msg-box3-2z .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-2z .lead P {
  color: #d2ba71;
  text-align: right;
}
#msg-box3-2z .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box3-2z .lead DIV {
  text-align: left;
}
#msg-box8-32 .mbr-section-title,
#msg-box8-32 p {
  color: #fff;
}
#msg-box8-32 .lead UL {
  text-align: right;
  font-size: 14px;
}
#msg-box8-32 .mbr-section-title {
  font-size: 22px;
}
#msg-box3-30 .mbr-section-title,
#msg-box3-30 p {
  color: #000;
}
#msg-box3-30 .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-30 .lead P {
  color: #d2ba71;
  text-align: right;
}
#msg-box3-30 .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box3-30 .lead DIV {
  text-align: left;
}
#form1-33 .form-control-label {
  color: #232323;
}
#form1-33 .mbr-section-title {
  font-size: 24px;
  color: #937735;
}
#contacts1-v STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-v SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-v P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-w P {
  color: #c0a375;
}
#ext_menu-1m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1m .navbar-caption {
  color: #ffffff;
}
#ext_menu-1m .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1m .close-icon::before,
#ext_menu-1m .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1m .link,
#ext_menu-1m .dropdown-item {
  color: #ffffff;
}
#ext_menu-1m .link {
  font-size: 0.75rem;
}
#ext_menu-1m .dropdown-item,
#ext_menu-1m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1m .link:hover,
#ext_menu-1m .dropdown-item:hover,
#ext_menu-1m .link:focus,
#ext_menu-1m .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-1m .link[aria-expanded="true"],
#ext_menu-1m .dropdown-menu {
  background: #000000;
}
#ext_menu-1m .nav-dropdown-sm .link:focus,
#ext_menu-1m .nav-dropdown-sm .link:hover,
#ext_menu-1m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1m .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-1m .navbar,
#ext_menu-1m .nav-dropdown-sm,
#ext_menu-1m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1m .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-1m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1m .bg-color.transparent.opened .link:hover,
#ext_menu-1m .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-1m .link[aria-expanded="true"],
#ext_menu-1m .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-1m .btn {
  font-size: 10px;
}
#msg-box8-1n .mbr-section-title,
#msg-box8-1n p {
  color: #fff;
}
#msg-box8-1n .mbr-section-title {
  font-size: 32px;
}
#msg-box5-1o H3 {
  color: #a98d4a;
  font-size: 24px;
  text-align: center;
}
#msg-box5-1o P {
  color: #000000;
  text-align: right;
}
#msg-box5-1o SPAN {
  text-align: right;
}
#content5-1p .mbr-section-title,
#content5-1p p {
  color: #fff;
}
#content5-1p .mbr-section-title {
  font-size: 30px;
  text-align: center;
}
#content5-1p P {
  text-align: center;
}
#header2-1q .mbr-section-title {
  font-size: 30px;
}
#msg-box8-1u .mbr-section-title,
#msg-box8-1u p {
  color: #fff;
}
#msg-box8-1u .mbr-section-title {
  font-size: 30px;
}
#contacts1-1v STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-1v SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-1v P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-1w P {
  color: #c0a375;
}
#ext_menu-2d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2d .navbar-caption {
  color: #ffffff;
}
#ext_menu-2d .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2d .close-icon::before,
#ext_menu-2d .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2d .link,
#ext_menu-2d .dropdown-item {
  color: #ffffff;
}
#ext_menu-2d .link {
  font-size: 0.75rem;
}
#ext_menu-2d .dropdown-item,
#ext_menu-2d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2d .link:hover,
#ext_menu-2d .dropdown-item:hover,
#ext_menu-2d .link:focus,
#ext_menu-2d .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2d .link[aria-expanded="true"],
#ext_menu-2d .dropdown-menu {
  background: #000000;
}
#ext_menu-2d .nav-dropdown-sm .link:focus,
#ext_menu-2d .nav-dropdown-sm .link:hover,
#ext_menu-2d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2d .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-2d .navbar,
#ext_menu-2d .nav-dropdown-sm,
#ext_menu-2d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2d .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-2d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2d .bg-color.transparent.opened .link:hover,
#ext_menu-2d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2d .link[aria-expanded="true"],
#ext_menu-2d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-2d .btn {
  font-size: 10px;
}
#msg-box8-2e .mbr-section-title,
#msg-box8-2e p {
  color: #fff;
}
#msg-box8-2e .mbr-section-title {
  font-size: 32px;
}
#msg-box5-36 H3 {
  font-size: 22px;
}
#form1-37 .form-control-label {
  color: #c0a375;
}
#form1-37 SMALL {
  color: #c0a375;
  font-size: 14px;
}
#form1-37 .mbr-section-title {
  font-size: 22px;
  color: #efefef;
}
#content5-38 .mbr-section-title,
#content5-38 p {
  color: #fff;
}
#content5-38 .mbr-section-title {
  font-size: 24px;
  text-align: center;
}
#content5-38 P {
  font-size: 14px;
  text-align: center;
}
#contacts1-2f STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-2f SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-2f P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-2g P {
  color: #c0a375;
}
#ext_menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-c .navbar-caption {
  color: #ffffff;
}
#ext_menu-c .navbar-toggler {
  color: #ffffff;
}
#ext_menu-c .close-icon::before,
#ext_menu-c .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-c .link,
#ext_menu-c .dropdown-item {
  color: #ffffff;
}
#ext_menu-c .link {
  font-size: 0.75rem;
}
#ext_menu-c .dropdown-item,
#ext_menu-c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-c .link:hover,
#ext_menu-c .dropdown-item:hover,
#ext_menu-c .link:focus,
#ext_menu-c .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-c .link[aria-expanded="true"],
#ext_menu-c .dropdown-menu {
  background: #000000;
}
#ext_menu-c .nav-dropdown-sm .link:focus,
#ext_menu-c .nav-dropdown-sm .link:hover,
#ext_menu-c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-c .navbar,
#ext_menu-c .nav-dropdown-sm,
#ext_menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-c .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-c .bg-color.transparent.opened .link:hover,
#ext_menu-c .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-c .link[aria-expanded="true"],
#ext_menu-c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-c .btn {
  font-size: 10px;
}
#msg-box8-10 .mbr-section-title,
#msg-box8-10 p {
  color: #fff;
}
#msg-box8-10 .mbr-section-title {
  font-size: 32px;
}
#header2-1l .mbr-section-title {
  font-size: 30px;
}
#features1-5y .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-5z .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-2i .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#contacts1-d STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-d SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-d P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-e P {
  color: #c0a375;
}

#slider-2o H2 {
  font-size: 24px;
  color: #a98d4a;
  text-align: left;
}
#slider-2o P {
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  text-align: left;
}
#slider-2o .btn {
  font-size: 13px;
}
#msg-box2-2p .mbr-section-title {
  color: #fff;
  text-align: left;
  font-size: 23px;
}
#msg-box2-2p .mbr-section-subtitle {
  color: #a98d4a;
  text-align: left;
}
#features3-2q P {
  font-size: 13px;
}
#features3-2q H5 {
  font-size: 13px;
}
#features3-2q H4 {
  font-size: 16px;
}
#header1-2r .mbr-section-title {
  font-size: 30px;
  color: #a98c49;
}
#header1-2r .mbr-section-lead {
  font-size: 14px;
}
#msg-box3-2s .mbr-section-title,
#msg-box3-2s p {
  color: #000;
}
#msg-box3-2s .mbr-section-title {
  font-size: 30px;
}
#msg-box3-2s .lead UL {
  text-align: left;
}
#form1-3f .form-control-label {
  color: #232323;
}
#form1-3f .mbr-section-title {
  font-size: 22px;
  color: #c0a375;
}
#form1-3f SMALL {
  font-size: 14px;
}
#contacts3-3g P {
  color: #ffffff;
}
#contacts3-3g LI {
  color: #ffffff;
}
#contacts3-3g H4 {
  color: #c0a375;
}
#contacts3-3g STRONG {
  color: #c0a375;
}
#ext_menu-4g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4g .navbar-caption {
  color: #ffffff;
}
#ext_menu-4g .navbar-toggler {
  color: #ffffff;
}
#ext_menu-4g .close-icon::before,
#ext_menu-4g .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-4g .link,
#ext_menu-4g .dropdown-item {
  color: #ffffff;
}
#ext_menu-4g .link {
  font-size: 0.75rem;
}
#ext_menu-4g .dropdown-item,
#ext_menu-4g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-4g .link:hover,
#ext_menu-4g .dropdown-item:hover,
#ext_menu-4g .link:focus,
#ext_menu-4g .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-4g .link[aria-expanded="true"],
#ext_menu-4g .dropdown-menu {
  background: #000000;
}
#ext_menu-4g .nav-dropdown-sm .link:focus,
#ext_menu-4g .nav-dropdown-sm .link:hover,
#ext_menu-4g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4g .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-4g .navbar,
#ext_menu-4g .nav-dropdown-sm,
#ext_menu-4g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4g .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-4g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-4g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4g .bg-color.transparent.opened .link:hover,
#ext_menu-4g .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-4g .link[aria-expanded="true"],
#ext_menu-4g .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-4g .btn {
  font-size: 10px;
}
#msg-box8-4j .mbr-section-title,
#msg-box8-4j p {
  color: #fff;
}
#msg-box5-4k H3 {
  text-align: center;
  font-size: 36px;
}
#msg-box5-4k P {
  text-align: center;
}
#msg-box3-4m .mbr-section-title,
#msg-box3-4m p {
  color: #000;
}
#msg-box3-4m .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-4m .lead P {
  color: #d2ba71;
}
#msg-box3-4m .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box8-4l .mbr-section-title,
#msg-box8-4l p {
  color: #fff;
}
#msg-box8-4l .mbr-section-title {
  font-size: 36px;
}
#msg-box8-4l .lead P {
  text-align: right;
}
#msg-box3-4o .mbr-section-title,
#msg-box3-4o p {
  color: #000;
}
#msg-box3-4o .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-4o .lead P {
  color: #d2ba71;
}
#msg-box3-4o .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#form1-4p .form-control-label {
  color: #232323;
}
#form1-4p .mbr-section-title {
  font-size: 24px;
  color: #937735;
}
#contacts1-4h STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-4h SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-4h P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-4i P {
  color: #c0a375;
}
#ext_menu-4q .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4q .navbar-caption {
  color: #ffffff;
}
#ext_menu-4q .navbar-toggler {
  color: #ffffff;
}
#ext_menu-4q .close-icon::before,
#ext_menu-4q .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-4q .link,
#ext_menu-4q .dropdown-item {
  color: #ffffff;
}
#ext_menu-4q .link {
  font-size: 0.75rem;
}
#ext_menu-4q .dropdown-item,
#ext_menu-4q .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-4q .link:hover,
#ext_menu-4q .dropdown-item:hover,
#ext_menu-4q .link:focus,
#ext_menu-4q .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-4q .link[aria-expanded="true"],
#ext_menu-4q .dropdown-menu {
  background: #000000;
}
#ext_menu-4q .nav-dropdown-sm .link:focus,
#ext_menu-4q .nav-dropdown-sm .link:hover,
#ext_menu-4q .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4q .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-4q .navbar,
#ext_menu-4q .nav-dropdown-sm,
#ext_menu-4q .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4q .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-4q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-4q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4q .bg-color.transparent.opened .link:hover,
#ext_menu-4q .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-4q .link[aria-expanded="true"],
#ext_menu-4q .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-4q .btn {
  font-size: 10px;
}
#msg-box8-4r .mbr-section-title,
#msg-box8-4r p {
  color: #fff;
}
#msg-box5-4s H3 {
  text-align: center;
  font-size: 36px;
}
#msg-box5-4s P {
  text-align: center;
}
#msg-box3-4t .mbr-section-title,
#msg-box3-4t p {
  color: #000;
}
#msg-box3-4t .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-4t .lead P {
  color: #d2ba71;
}
#msg-box3-4t .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box8-4u .mbr-section-title,
#msg-box8-4u p {
  color: #fff;
}
#msg-box8-4u .mbr-section-title {
  font-size: 36px;
}
#msg-box8-4u .lead P {
  text-align: right;
}
#msg-box3-4v .mbr-section-title,
#msg-box3-4v p {
  color: #000;
}
#msg-box3-4v .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-4v .lead P {
  color: #d2ba71;
}
#msg-box3-4v .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#form1-4x .form-control-label {
  color: #232323;
}
#form1-4x .mbr-section-title {
  font-size: 24px;
  color: #937735;
}
#contacts1-4y STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-4y SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-4y P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-4z P {
  color: #c0a375;
}
#ext_menu-50 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-50 .navbar-caption {
  color: #ffffff;
}
#ext_menu-50 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-50 .close-icon::before,
#ext_menu-50 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-50 .link,
#ext_menu-50 .dropdown-item {
  color: #ffffff;
}
#ext_menu-50 .link {
  font-size: 0.75rem;
}
#ext_menu-50 .dropdown-item,
#ext_menu-50 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-50 .link:hover,
#ext_menu-50 .dropdown-item:hover,
#ext_menu-50 .link:focus,
#ext_menu-50 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-50 .link[aria-expanded="true"],
#ext_menu-50 .dropdown-menu {
  background: #000000;
}
#ext_menu-50 .nav-dropdown-sm .link:focus,
#ext_menu-50 .nav-dropdown-sm .link:hover,
#ext_menu-50 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-50 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-50 .navbar,
#ext_menu-50 .nav-dropdown-sm,
#ext_menu-50 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-50 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-50 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-50 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-50 .bg-color.transparent.opened .link:hover,
#ext_menu-50 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-50 .link[aria-expanded="true"],
#ext_menu-50 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-50 .btn {
  font-size: 10px;
}
#msg-box8-51 .mbr-section-title,
#msg-box8-51 p {
  color: #fff;
}
#header6-5a .mbr-section-title {
  color: #c0a375;
  text-align: right;
  font-size: 36px;
}
#header6-5a .mbr-section-text {
  color: #ffffff;
  text-align: right;
}
#msg-box3-53 .mbr-section-title,
#msg-box3-53 p {
  color: #000;
}
#msg-box3-53 .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-53 .lead P {
  color: #d2ba71;
}
#msg-box3-53 .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box8-54 .mbr-section-title,
#msg-box8-54 p {
  color: #fff;
}
#msg-box8-54 .mbr-section-title {
  font-size: 36px;
}
#msg-box8-54 .lead P {
  text-align: right;
}
#msg-box3-55 .mbr-section-title,
#msg-box3-55 p {
  color: #000;
}
#msg-box3-55 .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-55 .lead P {
  color: #d2ba71;
}
#msg-box3-55 .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#form1-57 .form-control-label {
  color: #232323;
}
#form1-57 .mbr-section-title {
  font-size: 24px;
  color: #937735;
}
#contacts1-58 STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-58 SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-58 P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-59 P {
  color: #c0a375;
}
#ext_menu-5b .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5b .navbar-caption {
  color: #ffffff;
}
#ext_menu-5b .navbar-toggler {
  color: #ffffff;
}
#ext_menu-5b .close-icon::before,
#ext_menu-5b .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-5b .link,
#ext_menu-5b .dropdown-item {
  color: #ffffff;
}
#ext_menu-5b .link {
  font-size: 0.75rem;
}
#ext_menu-5b .dropdown-item,
#ext_menu-5b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-5b .link:hover,
#ext_menu-5b .dropdown-item:hover,
#ext_menu-5b .link:focus,
#ext_menu-5b .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-5b .link[aria-expanded="true"],
#ext_menu-5b .dropdown-menu {
  background: #000000;
}
#ext_menu-5b .nav-dropdown-sm .link:focus,
#ext_menu-5b .nav-dropdown-sm .link:hover,
#ext_menu-5b .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5b .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-5b .navbar,
#ext_menu-5b .nav-dropdown-sm,
#ext_menu-5b .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5b .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-5b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-5b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5b .bg-color.transparent.opened .link:hover,
#ext_menu-5b .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-5b .link[aria-expanded="true"],
#ext_menu-5b .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-5b .btn {
  font-size: 10px;
}
#msg-box8-5c .mbr-section-title,
#msg-box8-5c p {
  color: #fff;
}
#msg-box5-5d H3 {
  text-align: center;
  font-size: 36px;
}
#msg-box5-5d P {
  text-align: center;
}
#msg-box3-5e .mbr-section-title,
#msg-box3-5e p {
  color: #000;
}
#msg-box3-5e .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-5e .lead P {
  color: #d2ba71;
}
#msg-box3-5e .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box8-5f .mbr-section-title,
#msg-box8-5f p {
  color: #fff;
}
#msg-box8-5f .mbr-section-title {
  font-size: 36px;
}
#msg-box8-5f .lead P {
  text-align: right;
}
#msg-box3-5g .mbr-section-title,
#msg-box3-5g p {
  color: #000;
}
#msg-box3-5g .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-5g .lead P {
  color: #d2ba71;
}
#msg-box3-5g .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#form1-5i .form-control-label {
  color: #232323;
}
#form1-5i .mbr-section-title {
  font-size: 24px;
  color: #937735;
}
#contacts1-5j STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-5j SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-5j P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-5k P {
  color: #c0a375;
}
#ext_menu-r .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-r .navbar-caption {
  color: #ffffff;
}
#ext_menu-r .navbar-toggler {
  color: #ffffff;
}
#ext_menu-r .close-icon::before,
#ext_menu-r .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-r .link,
#ext_menu-r .dropdown-item {
  color: #ffffff;
}
#ext_menu-r .link {
  font-size: 0.75rem;
}
#ext_menu-r .dropdown-item,
#ext_menu-r .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-r .link:hover,
#ext_menu-r .dropdown-item:hover,
#ext_menu-r .link:focus,
#ext_menu-r .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-r .link[aria-expanded="true"],
#ext_menu-r .dropdown-menu {
  background: #000000;
}
#ext_menu-r .nav-dropdown-sm .link:focus,
#ext_menu-r .nav-dropdown-sm .link:hover,
#ext_menu-r .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-r .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-r .navbar,
#ext_menu-r .nav-dropdown-sm,
#ext_menu-r .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-r .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-r .bg-color.transparent.opened .link:hover,
#ext_menu-r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-r .link[aria-expanded="true"],
#ext_menu-r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-r .btn {
  font-size: 10px;
}
#msg-box8-1b .mbr-section-title,
#msg-box8-1b p {
  color: #fff;
}
#msg-box8-1b .mbr-section-title {
  font-size: 32px;
}
#msg-box5-5v H3 {
  text-align: center;
  font-size: 36px;
}
#msg-box5-5v P {
  text-align: center;
}
#msg-box3-1y .mbr-section-title,
#msg-box3-1y p {
  color: #000;
}
#msg-box3-1y .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-1y .lead P {
  color: #d2ba71;
}
#msg-box3-1y .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#features1-1z .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-1z .mbr-cards-col:nth-child(even) .card-text {
  color: #8d752c;
  text-align: right;
}
#features1-1z .mbr-cards-col:nth-child(odd) .card-text {
  color: #8d752c;
  text-align: right;
}
#msg-box3-27 .mbr-section-title,
#msg-box3-27 p {
  color: #000;
}
#msg-box3-27 .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-27 .lead P {
  color: #d2ba71;
}
#msg-box3-27 .lead LI {
  color: #8f7f53;
  text-align: right;
  font-size: 17px;
}
#msg-box3-28 .mbr-section-title,
#msg-box3-28 p {
  color: #000;
}
#msg-box3-28 .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-28 .lead P {
  color: #d2ba71;
}
#msg-box3-28 .lead LI {
  color: #8f7f53;
  text-align: right;
}
#msg-box3-29 .mbr-section-title,
#msg-box3-29 p {
  color: #000;
}
#msg-box3-29 .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-29 .lead P {
  color: #d2ba71;
}
#msg-box3-29 .lead LI {
  color: #8f7f53;
  text-align: right;
}
#form1-2a .form-control-label {
  color: #232323;
}
#form1-2a .mbr-section-title {
  font-size: 22px;
}
#form1-2a SMALL {
  color: #95824e;
}
#contacts1-d STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-d SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-d P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-t P {
  color: #c0a375;
}
#ext_menu-5l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5l .navbar-caption {
  color: #ffffff;
}
#ext_menu-5l .navbar-toggler {
  color: #ffffff;
}
#ext_menu-5l .close-icon::before,
#ext_menu-5l .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-5l .link,
#ext_menu-5l .dropdown-item {
  color: #ffffff;
}
#ext_menu-5l .link {
  font-size: 0.75rem;
}
#ext_menu-5l .dropdown-item,
#ext_menu-5l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-5l .link:hover,
#ext_menu-5l .dropdown-item:hover,
#ext_menu-5l .link:focus,
#ext_menu-5l .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-5l .link[aria-expanded="true"],
#ext_menu-5l .dropdown-menu {
  background: #000000;
}
#ext_menu-5l .nav-dropdown-sm .link:focus,
#ext_menu-5l .nav-dropdown-sm .link:hover,
#ext_menu-5l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5l .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-5l .navbar,
#ext_menu-5l .nav-dropdown-sm,
#ext_menu-5l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5l .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-5l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-5l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5l .bg-color.transparent.opened .link:hover,
#ext_menu-5l .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-5l .link[aria-expanded="true"],
#ext_menu-5l .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-5l .btn {
  font-size: 10px;
}
#msg-box8-5m .mbr-section-title,
#msg-box8-5m p {
  color: #fff;
}
#msg-box8-5m .mbr-section-title {
  font-size: 32px;
}
#msg-box3-5n .mbr-section-title,
#msg-box3-5n p {
  color: #000;
}
#msg-box3-5n .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-5n .lead P {
  color: #d2ba71;
}
#msg-box3-5n .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box3-5p .mbr-section-title,
#msg-box3-5p p {
  color: #000;
}
#msg-box3-5p .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-5p .lead P {
  color: #d2ba71;
}
#msg-box3-5p .lead LI {
  color: #8f7f53;
  text-align: right;
  font-size: 17px;
}
#msg-box3-5q .mbr-section-title,
#msg-box3-5q p {
  color: #000;
}
#msg-box3-5q .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-5q .lead P {
  color: #d2ba71;
}
#msg-box3-5q .lead LI {
  color: #8f7f53;
  text-align: right;
}
#msg-box3-5r .mbr-section-title,
#msg-box3-5r p {
  color: #000;
}
#msg-box3-5r .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-5r .lead P {
  color: #d2ba71;
}
#msg-box3-5r .lead LI {
  color: #8f7f53;
  text-align: right;
}
#form1-5s .form-control-label {
  color: #232323;
}
#form1-5s .mbr-section-title {
  font-size: 22px;
}
#form1-5s SMALL {
  color: #95824e;
}
#contacts1-5t STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-5t SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-5t P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-5u P {
  color: #c0a375;
}
#ext_menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-46 .navbar-caption {
  color: #ffffff;
}
#ext_menu-46 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-46 .close-icon::before,
#ext_menu-46 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-46 .link,
#ext_menu-46 .dropdown-item {
  color: #ffffff;
}
#ext_menu-46 .link {
  font-size: 0.75rem;
}
#ext_menu-46 .dropdown-item,
#ext_menu-46 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-46 .link:hover,
#ext_menu-46 .dropdown-item:hover,
#ext_menu-46 .link:focus,
#ext_menu-46 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-46 .link[aria-expanded="true"],
#ext_menu-46 .dropdown-menu {
  background: #000000;
}
#ext_menu-46 .nav-dropdown-sm .link:focus,
#ext_menu-46 .nav-dropdown-sm .link:hover,
#ext_menu-46 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-46 .navbar,
#ext_menu-46 .nav-dropdown-sm,
#ext_menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-46 .bg-color.transparent.opened .link:hover,
#ext_menu-46 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-46 .link[aria-expanded="true"],
#ext_menu-46 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-46 .btn {
  font-size: 10px;
}
#msg-box8-47 .mbr-section-title,
#msg-box8-47 p {
  color: #fff;
}
#msg-box8-47 .mbr-section-title {
  font-size: 32px;
}
#msg-box5-5w H3 {
  text-align: center;
  font-size: 36px;
}
#msg-box5-5w P {
  text-align: right;
}
#msg-box3-48 .mbr-section-title,
#msg-box3-48 p {
  color: #000;
}
#msg-box3-48 .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-48 .lead P {
  color: #d2ba71;
}
#msg-box3-48 .lead LI {
  color: #c9bf6d;
  text-align: right;
}
#msg-box3-4a .mbr-section-title,
#msg-box3-4a p {
  color: #000;
}
#msg-box3-4a .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-4a .lead P {
  color: #d2ba71;
}
#msg-box3-4a .lead LI {
  color: #ffffff;
  text-align: right;
  font-size: 17px;
}
#msg-box3-4c .mbr-section-title,
#msg-box3-4c p {
  color: #000;
}
#msg-box3-4c .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#msg-box3-4c .lead P {
  color: #d2ba71;
}
#msg-box3-4c .lead LI {
  color: #8f7f53;
  text-align: right;
}
#form1-4d .form-control-label {
  color: #232323;
}
#form1-4d .mbr-section-title {
  font-size: 22px;
}
#form1-4d SMALL {
  color: #95824e;
}
#contacts1-4e STRONG {
  color: #a98d4a;
  font-size: 14px;
  text-align: right;
}
#contacts1-4e SPAN {
  font-size: 14px;
  text-align: right;
}
#contacts1-4e P {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}
#footer1-4f P {
  color: #c0a375;
}
